* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

body {
  background-image: url('images/beach.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto';
  color: white;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

.airplane-container {
  padding: 0;
  margin: 0;
  height: 55px;
}

.airplane {
  width: 50px;
  margin: 0;
  padding: 0;
  float: right;
  cursor: crosshair;
}

h1 {
  font-family: 'Dancing Script';
  font-size: 12.0vmin;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* GRID */
#beach-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  text-align: center;
  border: transparent 5px;
}

.cell {
  border: solid 3px white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
  border-radius: 5%;
  flex: 1, 0, auto;
  display: inline-block;
}

.cell:hover {
  background-color: #38b6ff;
}

li {
  list-style-type: none;
}
/* GRID END */


/* FORM  */
select {
  display: inline;
  float: none;
}

form {
  font-size: 20px;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

.overall-container {
  display:inline-block;
  margin-left:auto;margin-right:auto;
  text-align:center;
}

.container-form {
  border: solid 3px white;
  border-radius: 5px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding-top: 10px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-top: 10px;
  clear: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=image] {
  cursor: pointer;
}

input[type=text], select {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Roboto';
  font-size: 16px;
  background: transparent;
  color: #fff;
}

label {
  padding-right: 12px;
  padding-left: 0;
  display: inline-block;
  float: left;
  clear: none;
  display: block;
}

label.radio-label {
  cursor: pointer;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0px;
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

input[type=radio]:checked + img {
  background: #38b6ff;
  border-radius: 50%;
}

input[type=image]:hover {
  background: #38b6ff;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  h1 {
    font-size: 12vw;
  }
  #beach-list {
    flex-direction: column;
  }
}

/* FORM END */


/* BUTTONS */
.buttons {
  float: right;
}

#delete-all {
  height: 30px;
  padding: 5px;
}

#save {
  height: 30px;
  padding: 5px;
}

.radio-img {
  height: 30px;
  padding: 4px 4px 4px 4px;
}

/* BUTTONS END */



/* OUTPUT  */
h2 {
  font-family: 'Dancing Script';
  font-size: 45px;
  padding: 15px;
  margin: 0;
}

h3 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 30px;
  padding: 15px;
  margin: 0;
}
/* OUTPUT END  */



.toggle-container {
  padding: 10px;
  text-align: center;
}

.toggle {
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
}

.toggle:hover {
  background: #38b6ff;
}
